// COLOR VARIABLES
$color-primary: #f2884e;
$color-primary-dark: #ef681e;

$color-secondary: #101d2c;
$color-black: #080808;

$color-green-light-1: #bdf1ca;
$color-green-light-2: #5bdd7b;

$color-blue-light-1: #c9f0ff;
$color-blue-light-2: #a7e7ff;

$color-blue-dark-1: #41cbff;
$color-blue-dark-2: #009fda;

// FONT VARIABLES
$font-primary: "Nunito", sans-serif;
$font-display: "Josefin Sans", sans-serif;

//RESPONSIVE BREAKPOINTS

$bp-largest: 75em; //1200px
$bp-large: 62.5em; //1000px
$bp-medium: 50em; //800px
$bp-small: 37.5em; //600px

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //10px/16px=62.5%-->1rem=10px

  @media only screen and (max-width: $bp-medium) {
    font-size: 50%;
  }

  @media only screen and (max-width: $bp-small) {
    font-size: 37.5%;
  }
}

body {
  font-family: $font-primary;
  color: $color-blue-dark-2;
  font-weight: 300;
  line-height: 1.6;
}

.container {
  display: grid;
  z-index: 1;
  grid-template-rows: 8rem 80vh repeat(2, min-content);
  grid-template-columns:
    [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end] minmax(6rem, 1fr)
    [full-end];

  @media only screen and (max-width: $bp-large) {
    grid-template-rows: min-content 1rem 80vh repeat(2, min-content);
    grid-template-columns:
      [full-start] minmax(6rem, 1fr) [center-start] repeat(
        8,
        [col-start] minmax(min-content, 14rem) [col-end]
      )
      [center-end] minmax(6rem, 1fr)
      [full-end];
  }

  @media only screen and (max-width: $bp-medium) {
    grid-template-rows: minmax(8rem, max-content) 1rem 70vh repeat(
        2,
        min-content
      );
    grid-template-columns:
      [full-start] minmax(6rem, 1fr) [center-start] repeat(
        8,
        [col-start] minmax(min-content, 14rem) [col-end]
      )
      [center-end] minmax(6rem, 1fr)
      [full-end];
  }
}
