.header {
  //   background-color: $color-grey-dark-1;
  grid-column: full-start / full-end;
  background-image: linear-gradient(
      rgba($color-secondary, 0.53),
      rgba($color-green-light-2, 0.33)
    ),
    url(../img/bike-8.jpg);
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
  grid-template-columns: minmax(min-content, max-content);
  grid-row-gap: 1.5rem;
  padding: 8rem;
  padding-top: 4rem;
  justify-content: center;
  // position: relative;

  @media only screen and (max-width: $bp-large) {
    grid-column: 1/-1;
    grid-row: 3/4;
    justify-content: center;
    align-items: center;
  }

  @media only screen and (max-width: $bp-medium) {
    justify-content: center;
    grid-column: 1/-1;
  }

  @media only screen and (max-width: $bp-small) {
    padding: 5rem;
  }

  &__btn {
    align-self: center;
    justify-self: center;
  }
}
