.navigation {
  background-color: $color-blue-dark-1;
  grid-column: sidebar-start / full-end;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: relative;

  @media only screen and (max-width: $bp-large) {
    grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
    grid-column: 1/-1;
    grid-row: 1/2;
    justify-content: flex-end;
    align-items: center;
  }
}

.nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
  grid-gap: 2rem;
  align-items: center;
  grid-column: 2 / -1;
  grid-auto-rows: auto;

  @media only screen and (max-width: $bp-large) {
    grid-column: 1 / -1;
    grid-gap: 1rem;
  }

  @media only screen and (max-width: $bp-small) {
    display: flex;
    flex-direction: column;
    background-color: $color-primary;
    // background-color: #fff;

    width: 40rem;
    position: absolute;
    z-index: 2000;
    top: 100%;
    right: 20%;
    display: none;
  }
  &__link:link,
  &__link:visited {
    font-size: 1.6rem;
    color: rgb(240, 232, 232);
    text-decoration: none;
    font-family: $font-display;
    text-transform: uppercase;
    text-align: center;
    padding: 1.5rem;
    display: block;
    transition: all 0.2s;

    @media only screen and (max-width: $bp-medium) {
      font-size: 1.4rem;
    }

    @media only screen and (max-width: $bp-small) {
      color: #fff;
      font-size: 1.8rem;
      width: 100%;
      transition: none;
      font-weight: 300;
      border-bottom: 1px solid rgb(216, 208, 208);
    }
  }

  &__link:hover,
  &__link:active {
    background-color: rgba(#fff, 0.5);
    transform: translateY(-3px);

    @media only screen and (max-width: $bp-small) {
      background-color: $color-primary;
      transform: translateY(0);
    }
  }

  &__icon-link:link,
  &__icon-link:visited {
    position: absolute;
    top: 5px;
    right: 5%;
    font-size: 4rem;
    color: #fff;
    font-weight: 100;
    display: none;

    @media only screen and (max-width: $bp-small) {
      display: block;
    }
  }

  &__active {
    display: block;
    outline: none;
  }
}
